[submodule "src/agent"]
	path = src/agent
	url = https://github.com/eclipse-muto/agent.git
	branch = main

[submodule "src/messages"]
	path = src/messages
	url = https://github.com/eclipse-muto/messages.git
	branch = main
[submodule "src/core"]
	path = src/core
	url = https://github.com/eclipse-muto/core.git
	branch = main
[submodule "src/composer"]
	path = src/composer
	url = https://github.com/eclipse-muto/composer.git
	branch = main
[submodule "docs/samples/muto/blueprint-demo/ros-racer"]
	path = docs/samples/muto/blueprint-demo/ros-racer
	url = https://github.com/ibrahimsel/ros-racer.git
	branch = test/e2e-demo
